header {
  margin-top: 60px;
  font-size: 2em;
}

#title , #rgb-color {
  text-align: center;
}

#rgb-color {
  margin-top: 30px;
  font-size: 30px;
}

#ball-container {
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.ball {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  margin-left: 20px;
}

#answer {
  text-align: center;
  font-size: 30px;
}
